/* POSTMEDIA STYLES */
#app {
	margin: 0 auto;
	max-width: 750px;
}
#app h1 {
	color: var(--black);
	font-family: Shift-BoldItalic, serif;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
#app h2 {
	color: var(--black);
	font-family: BentonSansCond-Bold, serif;
	margin: 1px 0;
}
#app h3 {
	color: var(--black);
	font-family: BentonSansCond-Bold, serif;
}
#app h4 {
	color: var(--black);
	font-family: BentonSansCond-Regular, serif;
	font-size: 0.8rem;
}
#app p {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	line-height: 1.3rem;
}

#app p.subhead {
	font-family: Shift-Book, Georgia, serif;
}

#app footer {
	margin-top: 3rem;
}

#app footer .note,
#app footer .source {
	color: var(--grey02);
	font-family: BentonSansCond-RegItalic, italic;
	margin-top: 3px;
}
#app footer .source {
	color: var(--black02);
	font-size: 0.85rem;
}

#app .source a {
	color: inherit;
}


@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
	#app footer {
		/* display: flex; */
		/* justify-content: space-between; */
	}
	#app footer .source {
		/* flex: 1; */
	}
	#app footer .source:nth-child(2) {
		/* text-align: right; */
	}
}
